---
pagination:
  data: thepc
  alias: quote
  size: 1
layout: thepc/post.njk
permalink: 'thepc-text/{{ quote.fra | slugify }}-{{ pagination.pageNumber }}/'
card:
  title: Larsson Quotes
  text: quote.created_at
---