---
layout: default.njk
saga-template-name: Post Default
---

{# POST ------------------------------------------------ post template #}
{%- if env.mode != 'prod' %}
  <!-- ___layouts/post/post.njk  -->
{%- endif -%}

<h1 class="pb-4 text-5xl pt-12 pagewidth">{{ title }}</h1>

{% if image %}
  <div class="aspect-video overflow-hidden shadow-lg p-4 rotate-2">
    {% picture img=image, width=[640,1280,1536], sizes="(max-width: 640px) 50vw, 100vw", css="w-full", loading = "eager" %}
  </div>
{% endif %}

<article class="pagewidth mb-8 p-4">

  <div class="prose-lg text-black max-w-full pb-4">
    {{ content | safe }}
  </div>
  <time class="text-sm">{{ date | formatDate("DDD  T", "DK") }}</time>

</article>

<div class="pagewidth">
  {% include "nav/post-pre-next.njk" %}
  {# {% include "nav/posts.njk" %} #}
  {% include "share.njk" %}</div>
</article>