---
layout: default.njk
saga-template-name: Frontpage
---
{%- if env.mode != 'prod' %}
  <!-- /Users/mdk/Web/saga11/src/themes/grunn/layouts/page/frontpage.njk  -->
{%- endif -%}

<h1 class="sr-only">{{ title }}</h1>

<div class="relative z-0">
  <div class="absolute z-10 top-8 lg:top-32 lg:left-32 left-4 text-white font-semibold text-4xl lg:text-9xl w-10/12 mx-auto drop-shadow-md">
    <span id="element"></span>
  </div>
  {# <div class="absolute bottom-2 right-8 z-10">
    <a href="#pcform" class=" bg-pink-600 hover:bg-pink-400 rounded-md px-8 py-4 font-bold text-white">
    Skriv til PC
    </a>
  </div> #}

  <div class="w-3/4 h-full bg-white/50 absolute animate-pulse"></div>
  {% if image %}
    <div class="aspect-video overflow-hidden">
      {% picture
      img=image,
      width=[640,1024, 1563],
      sizes="(max-width: 640px) 50vw, 100vw",
      css="w-full",
      loading = "eager"
  %}
    </div>
  {% endif %}

</div>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

<script>
  var typed = new Typed('#element', {
    strings: [
      'Har PC signet', 'Har the PC signet med Jordan Larsson ? ... <br>Nej ikke endnu!'
    ],
    typeSpeed: 50,
    smartBackspace: true
  });
</script>

<div class="pagewidth">
  {% include "components/all.njk" %}
</div>

<h3 class="text-3xl pagewidth text-center">Hørt på tribunerne</h3>
<section class="grid lg:grid-cols-3 gap-4 pagewidth">
  {# List all the Quotes we like #}
  {% for item in collections.quotes %}
    {% if (loop.index <= 3) %}

      <article class="p-4 shadow-lg border border-pink-100 flex flex-row bg-white">
        <div class="flex-none w-16 h-16 rounded-full shadow-lg border border-sky-400">
          <img src="/avatars/{{ loop.index }}-64.png" alt="" loading="lazy">
        </div>

        <div class="pl-2 flex flex-col w-full h-full">
          <div class="pb-4">
            <div class="prose-xl">
              {{ item.templateContent |safe  }}
            </div>
            <div class="text-base font-bold border-t pt-5 text-slate-600">
              {{ item.data.name }} @{{ item.data.tribune }}
            </div>
            {# tid #}
            {# <div class="text-sm pt-4 text-slate-600">
            Hvornår: {{ when }}
            </div> #}
            {# <time class="text-sm pt-4 self-end justify-self-end">
              {{ item.data.time  | formatDate("DDD  T", "DK") }}
            </time> #}
          </div>
        </div>

      </article>

    {% endif %}
  {% endfor %}
</section>