---
layout: default.njk
saga-template-name: page Modtaget
---
{#
------------------------------------------------
FRONTPAGE TEMPLATE
------------------------------------------------
Specfic page to control the layout for the frontpage
#}
{%- if env.mode != 'prod' %}
  <!-- /Users/mdk/Web/saga11/src/themes/grunn/layouts/page/frontpage.njk  -->
{%- endif -%}

<div class="pagewidth">

  <div class="flex items-center justify-center h-96">
    <a href="/"><img src="/themes/{{ theme }}/assets/img/jordan.png" alt="Jordan Larson" class=" animate-pulse w-44 h-44"></a>
  </div>

  <div class="h-44 lg:w-[40rem] mx-auto bg-black/40 p-12 rounded-md shadow-md text-white">
    <span id="element" class="text-5xl line"></span>
  </div>
  <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
  <script>
    var typed = new Typed('#element', {
      strings: ['💌 inbox: The PC '],
      typeSpeed: 50,
      smartBackspace: true
    });
  </script>

</div>
</article>

{% include "components/all.njk" %}