---
layout: default.njk
saga-template-name: Page default
---
{# PAGE DEFAULT TEAMPLATE
------------------------------------------------
This is the default template for the page type
#}
{%- if env.mode != 'prod' %}
  <!-- ___layouts/page/page.njk  -->
{%- endif -%}

<h1 class="text-white text-4xl lg:text-8xl pt-12 pagewidth font-bold">{{ title }}</h1>

{% if image %}
  <div class="aspect-video overflow-hidden">
    {% picture
      img=image,
      width=[640,1024, 1563],
      sizes="(max-width: 640px) 50vw, 100vw",
      css="shadow rounded-xl",
      loading = "eager"
  %}
  </div>
{% endif %}

{% if content %}
  <div class="prose-xl text-white pagewidth">
    {{ content | markdown | safe }}
  </div>
{% endif %}

<div class="pagewidth">
  {% include "components/all.njk" %}
</div>

{% include "share.njk" %}