{%- if env.mode != 'prod' %}
  <!-- src/themes/grunn/includes/components/templates/all-post.njk -->
{%- endif -%}

<section class="grid md:grid-cols-3 gap-4 py-4">

  {% for item in collections.allPcPost %}

    <article class="p-4 bg-white m-4">
      <a href="{{ item.url }}" class="flex flex-row">
        <div class="flex-none">
          {% if item.data.image %}
            <div class="aspect-square overflow-hidden w-16 h-16 rounded-full ">
              {% picture
              img = item.data.image,
              width = [300],
              sizes = "",
              css = "w-16",
              loading = "eager"
 %}
            </div>
          {% endif %}
        </div>
        <div class="pl-4">
          {# <h2 class="text-base text-fuc text-fuchsia-900">{{item.data.title}}</h2> #}
          <div class="h-32 overflow-clip">{{item.templateContent | safe}}</div>
          <div class="text-sm">{{ item.data.tribune}}</div>
          <div class="text-sm">{{ item.data.name }}</div>
        </div>
      </a>
    </article>

  {% endfor %}
</section>