{%- if env.mode != 'prod' %}
  <!-- src/themes/grunn/includes/components/templates/all-post.njk -->
{%- endif -%}

<section class="grid md:grid-cols-3 gap-4 py-4">

  {% for item in collections.allPcPost %}

    <article class="bg-white mx-2 shadow-md hover:bg-sky-200">
      <a href="{{ item.url }}" class="flex flex-row p-4 ">
        <div class="flex-none">
          {% if item.data.image %}
            <div class="aspect-square overflow-hidden w-8 h-8 rounded-full ">
              {% picture
              img = item.data.image,
              width = [32],
              sizes = "",
              css = "w-16",
              loading = "eager"
 %}
            </div>
          {% endif %}
        </div>
        <div class="pl-4">
          <div class="h-12 overflow-clip">{{item.templateContent | safe}}</div>
          <div class="text-sm text-right italic">{{ item.data.name }} ({{ item.data.tribune}})</div>
        </div>
      </a>
    </article>

  {% endfor %}
</section>