{%- if env.mode != 'prod' %}
  <!-- src/themes/grunn/includes/components/templates/all-post.njk -->
{%- endif -%}

<h3 class="text-3xl text-white">Hvornår skal PC signe Jordan ?</h3>
<section class="grid md:grid-cols-3 gap-4 py-4">

  {% for item in collections.barometer %}

    <article class="py-4">

      <div class="flex-none">
        {% if item.data.image %}
          <div class="aspect-video w-full">
            {% picture
            img = item.data.image,
            width = [800],
            sizes = "",
            css = "",
            loading = "eager"
 %}
          </div>
        {% endif %}
      </div>
      <div class="pl-4 text-white flex flex-col items-center">
        {# <h2 class="text-base text-fuc text-fuchsia-900">{{item.data.title}}</h2> #}

        <div class="text-7xl font-bold  drop-shadow-lg py-5">{{item.templateContent | safe}}</div>
        <div class="text-3xl pr-8 text-center">{{item.data.title }}</div>
      </div>

    </article>

  {% endfor %}
</section>