{%- if env.mode != 'prod' %}
  <!-- _src/__includes/footer.njk  -->
{%- endif  -%}

<footer class="bg-white dark:bg-gray-900 dark:text-gray-300 mt-16 py-4 items-end flex flex-col pagewidth ">
  <a href="https://morten.dk" class="text-slate-400 text-sm">bygget med 💙🤍 af mortendk: NC række 28 : 66</a>
  <section class="w-full flex flex-row pagewidth justify-between">

    {# Gets the collection for the area footer  #}
    {% for item in collections.blocks | sortByOrder %}
      {% if item.data.blockposition == "footer" %}

        {% asyncEach component in item.data.components %}
        {% include component.template %}
        {% endeach %}

      {% endif %}
    {% endfor %}
  </section>

</footer>