{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}
  <!-- src/__includes/header.njk -->
{%- endif  -%}

<header class="relative flex items-center justify-center z-20 h-16 md:h-20" x-data="{ openmenu: false }">

  <img src="themes/{{ theme }}/assets/img/under-construction.gif" alt="under construction" width="100">
  <div class="text-5xl">
  Jordan Larsson
  </div>
</header>
{% include "notification.njk" %}