{# HEADER
------------------------------------------------
Global header for the site
 #}
{%- if env.mode != 'prod' %}
  <!-- src/__includes/header.njk -->
{%- endif  -%}

<header class="flex items-center justify-center" x-data="{ openmenu: false }">

  {# <img src="themes/{{ theme }}/assets/img/icon-jordan.png" alt="Jordan Larson" class=" animate-bounce w-12 h-12"> #}
</header>
{% include "notification.njk" %}