{%- if env.mode != 'prod' %}
  <!-- __includes/share.njk  -->
{%- endif  -%}
{% set thisurl = env.url + page.url %}

<div class="flex flex-row space-x-8 mt-4 items-center justify-center">

  {# twitter #}
  <a
    class="block w-8 text-white "
    href="https://twitter.com/intent/tweet?text={{thisurl}}%20%23fcklive%20%23jordanlarsson"
    target="_blank" rel="noopener noreferrer nofollow">
    <div class="sr-only">Twitter</div>
    {% include "svg/some/twitter.svg" %}
  </a>

  {# fb  #}
  <a
    class="block w-8 text-white "
    href="https://www.facebook.com/sharer/sharer.php?u={{ thisurl }}"
    target="_blank" rel="noopener noreferrer nofollow">
    <div class="sr-only">Facebook</div>
    {% include "svg/some/facebook.svg" %}
  </a>

</div>